@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Mode Variables */
    --color-primary: #1ED94F;
    --color-primary-secondary: #96C93D;
    
    --color-accent-warning: #F2F047;
    --color-accent-action: #00BFFF;
    --color-accent-error: #FF6347;
    
    --color-background: #FFFFFF;
    --color-surface: #F0F0F0;
    --color-border: #E8E8D9;
    --color-text-primary: #333333;
    --color-text-secondary: #4D4D4D;
    
    --radius: 0.75rem;
  }

  .dark {
    /* Dark Mode Variables */
    --color-primary: #96C93D;
    --color-primary-secondary: #1ED94F;
    
    --color-background: #333333;
    --color-surface: #4D4D4D;
    --color-border: #B0B0B0;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #D9E8D9;
  }
}

@layer base {
  * {
    @apply border-neutral-border;
    margin: 0;
    padding: 0;
  }
  
  body {
    @apply bg-neutral-background text-neutral-textPrimary dark:bg-dark-background dark:text-dark-textPrimary;
    font-family: 'Inter', sans-serif;
  }

  /* Interactive Elements */
  button {
    @apply bg-primary hover:bg-primary-secondary text-neutral-background 
           dark:bg-dark-primary dark:hover:bg-dark-secondary dark:text-dark-textPrimary;
  }

  /* Links */
  a {
    @apply text-accent-action hover:underline;
  }
}